@import "../../scss/variables";

.header {
    nav {
        height: 75px;
        background: $bg-color-2;
        display: flex;
        align-items: center;
        padding: 0 25px 0 25px;

        ul {
            height: 100%;
            width: 100%;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
