@import "../../scss/variables";

.footer {
  padding: 0 25px 0 25px;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 75px;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .social-links {
    display: flex;
    align-items: center;
    gap: 8px;

    li:not(:nth-of-type(1)) {
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $border-gray;
      transition: 200ms linear;
      &:hover {
        background-color: $hover-gray;
      }
    }
  }
}

.darkmode {
  background: #333;
  .social-links {
    li:not(:nth-of-type(1)) {
      border: 1px solid $bg-color-2;

      &:hover {
        background-color: $hover-gray;
      }
    }

    li {
      h6 {
        color: $bg-color-2;
      }
    }
  }
}

@media only screen and (max-width: 1125px) {
  .footer {
    position: relative;

    .social-links {
      li:nth-of-type(1) {
        display: none;
      }
    }
  }
}
