$bg-color: #fbfbfb;
$bg-color-2: #ffffff;
$text-color: #333333;
$action-color: #ee4540;
$font-family: "Raleway", sans-serif;
$font-family-2: "Lato", sans-serif;
$btn-gradient: linear-gradient(260.78deg, #ee4540 0.25%, #333333 44.75%);
$border-gray: #dcdcdc;
