@import "../../scss/variables";

// global links style
.link,
.submit {
    padding: 16px 14px;
    font-size: 16px;
    text-decoration: none;
}

// primary link style
.--primary {
    background: $btn-gradient;
    border: none;
    span {
        color: $bg-color-2;
    }
}

// secondary link style
.--secondary {
    background: none;
    border: 1.2px solid $action-color;

    span {
        color: $text-color;
        font-weight: 500;
    }
}

// link has icon?
.--icon {
    img {
        margin-left: 10px;
    }
}
